* {
  margin: 0px;
  padding: 0px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.shadow-left {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.max-h-300px {
  min-height: 100px !important;
  max-height: 300px !important;
  height: 100% !important;
}

.table-fix-head { 
  overflow: auto; height: 100px; 
}
.table-fix-head thead th {
  position: sticky; top: 0; z-index: 1; 
}